body {
    font-size: 18px;
    font-weight: 400;
}

/* --- header --- */

.header {
    padding: 97px 24px 90px;
    color: black;
    line-height: 24.3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* --- nav --- */

.header__links-list {
    display: flex;
    justify-content: space-around;
    list-style-type: circle;
    text-underline-offset: 4px;
}

.header__links-list-item {
    margin-left: 30px;
}

.header__links-list-item:first {
    margin-left: 0;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-align: center;
    text-decoration: underline;
}

.header__link_active {
    text-decoration: none;
}

/* --- logo --- */

.header__logo {
    margin-left: 40px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

/* --- address --- */

.address {
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0.16px;
    line-height: 24.3px;
}

.address__left {
    padding-right: 59px;
    margin-left: auto;
}

.address span {
    white-space: pre-line;
}


/* --- section-cover --- */

.cover {
    position: relative;
    height: 757px;
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* --- title --- */

.cover__title {
    padding: 165px 50px 137px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 30px;
    text-transform: uppercase;
    color: white;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: end;
}

.line-hight-high {
    line-height: 1.15;
}

.line-hight-low {
    line-height: 1;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

/* --- footor (description) --- */

.cover__description {
    font-size: 22px;
    margin: 0 50px auto 78px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase;

}

.cover__description-text {
    color: white;
    line-height: 28px;
    word-spacing: 18px;
}

.cover__footer-button {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid white;
    font-size: 22px;
    color: white;
    padding: 11px 31px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    text-transform: uppercase;

}

.cover__footer-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

/* --- lots --- */

.lots {
    min-width: 1052px;
    margin: 182px 24px 0;
}

.lots__heading {
    text-transform: uppercase;
    padding-left: 40px;
    font-size: 40px;
}

.lots__card-list {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 10px 24px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    max-width: 334px;
    min-height: 563px;
    padding: 51px 40px 48px;
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 464px;
    color: white;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');

}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    margin-top: auto;
    font-size: 20px;
    line-height: 1.2em;
}


.lots__look-more-link {
    display: block;
    margin: 30px 40px auto;
    font-size: 20px;
    text-align: left;
    text-underline-offset: 4px;
    text-decoration: underline;
}

/* --- about ---  */


.about {
    max-width: 1052px;
    margin: 182px 24px 0;
}

.about__column {
    display: grid;
    grid-template-columns: 32% 68%;
    justify-items: center;
    grid-gap: 24px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;

}

.about_header__logo {
    text-align: center;
    width: 140px;
    height: 140px;
}

.about__description {
    justify-self: start;
    align-self: center;
}

.about__title {
    margin-top: 104px;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    margin-top: 99px;
    min-width: 688px;
}

.about__text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.019em;
    text-align: left;
}


/* --- footer --- */


.footer {
    margin: 150px 24px 0;
    padding: 30px 24px;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.footer__menu {
    text-decoration: none;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin-left: 30px;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 240px;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
    text-align: center;
}

.footer__social-list:last-child {
    margin-right: 0;
}

.filter-darken {
    filter: brightness(0.5);
}

.bg-noreat-cover-center {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}